@import './../../global.scss';

.landing{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: calc(100vh - 70px); //The navbar is around 70px
    width: 100vw;
    display: grid;
    max-width:100%;

    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
    border-bottom-width: 1px;
    
    grid-template-columns: 1fr 1fr;

    //For medium and small sized screens
    @media(max-width:750px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .img{
            grid-row: 2;
        }
        .body{
            grid-row: 1;
        }
    }

    .img{
        width: 100%;
    }


    .body{
        padding-left: 50px;
        padding-right: 50px;
        box-sizing: border-box;

        h1{
            font-family: "Times New Roman", Georgia, serif;
            margin-bottom: 30px;
            font-size: 5em;
            color:rgb(50, 54, 72);
        }
        p{
            font-family: "Times New Roman", Georgia, serif;
            margin-bottom: 30px;
            font-size: 1.3em;
            color:rgb(91, 94, 109);
        }
        input{
            margin: 10px;
            display: inline-block;
            height: 56px;
            border-radius: 4px;
            border-style: solid;
            color: $text-light;
            border-width: 1px;
            border-color: $text-light;
            font-size: 10pt;
            padding-left: 20px; //To better align the text inside the input
            box-sizing: border-box;

            max-width: 308px;
            min-width: 270px;

            //For medium and small sized screens
            @media (max-width:750px){
                max-width: 80%;
                min-width: 80%;
            }
        }

        .register{
            display: inline-flex;
            min-width: 140px;
            height: 56px;
            margin: 10px;
            background-color: $main-light;
            border-radius: 4px;
            border-style: none;
            color: white;
            justify-content: center;
            transition: background-color 250ms;
            box-sizing: border-box;

            //For medium and small sized screens
            @media (max-width:750px){
                max-width: 80%;
                min-width: 80%;
            }


            &:hover{
                background-color:$main-dark;
            }

            &:link{
                text-decoration: none;
            }
         
        }

        h6{
            margin-top: 20px;
            color:rgb(91, 94, 109);
        }
    }

}
