@import './../../global.scss';

.landing{
    display: grid;
    min-height: calc(100vh - 70px); //The navbar is around 70px
    width: 100vw;
    max-width:100%;

    padding-top: 50px;
    padding-bottom: 50px;

    border-bottom: 1px solid rgb(235, 235, 235);
    
    display: flex;
    // grid-template-columns: 1fr 1fr;

    //For medium and small sized screens
    @media(max-width:750px){

        flex-direction: column;

        .img{
            order: 2;
        }
        .body{
            order: 1;
        }
    }

    .img{
        width: 100%;
    }

    .body{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        width: 100%;

        > h1{
            font-size: calc(4vw + 3vh + 2vmin); /*idk i copied this part online. Auto sizing font */
            font-family: "Times New Roman", Georgia, serif;
            margin-bottom: 30px;
            color:rgb(50, 54, 72);
        }

        > p{
            font-family: "Times New Roman", Georgia, serif;
            margin-bottom: 30px;
            font-size: 1.2em;
            color: $text-light;
        }

        > input{
            display: inline-block;
            height: 56px;
            max-width: 308px;
            min-width: 270px;

            font-size: 10pt;
            
            border: 1px solid $text-light;
            border-radius: 4px;
            color: $text-light;

            margin: 10px;
            padding-left: 20px; //To better align the text inside the input
            box-sizing: border-box;

            //For medium and small sized screens
            @media (max-width:750px){
                max-width: 80%;
                min-width: 80%;
            }
        }

        .register{

            height: 56px;
            min-width: 140px;
;
            box-sizing: border-box;

            color: white;
            background-color: $main-light;
            border-radius: 4px;
            border-style: none;

            transition: background-color 250ms;

            //For medium and small sized screens
            @media (max-width:750px){
                max-width: 100%;
                min-width: 100%;
            }


            &:hover{
                background-color:$main-dark;
            }

            &:link{
                text-decoration: none;
            }
         
        }

        > h6{
            margin-top: 20px;
            color:$text-dark;
        }
    }

}
