@import './../../global.scss';

.navbar{
    width: 100vw;
    height: 70px;
    max-width:100%;
    background-color: #fff;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(235, 235, 235);
    box-sizing: content-box;

    text-align: center;

}

.navbar_content{
    display: inline-flex;
    width: 90%;
    height: 100%;

    .home{
        
        align-self: center;
        display: inline-flex;
    
        .logo{
            width: 125px;
            height: 60px; 
        }
    }

    .navbar_list{
        flex: 6;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .navbar_link{
            font-size: 16px;
            text-decoration: none;
            padding: 20px;
            color:rgb(50, 54, 72);
            
            &:hover{
                color: rgb(63, 70, 173);
            }
        
        }
        
        .workspace{
            width:146px;
            height:36px;
            border-radius: 4px;
            border-style:solid;
            border-color: rgb(50, 54, 72);
            background-color: #fff;
            border-width: 1px;
            color:rgb(50, 54, 72);
            padding-top: 6px;
            box-sizing: border-box;

            &:hover{
                color: rgb(63, 70, 173);
                border-color: rgb(63,70,173);
            }

            &:link{
                text-decoration: none;
            }

        }
    }
}








