@import './../../global.scss';



.navbar_content{
    display: inline-block;
    width: 100vw;
    height: 70px;
    max-width:100%;

    background-color: #fff;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(235, 235, 235);

    .home{
        float:left;
        margin-left: 30px;
        height: 100%;

        //Vertical centering of logo img.
        display:flex;
        align-items: center;

        .logo{
            width: 125px;
            height: 60px; 
        }
    }

    .navbar_list{
        height: 100%;
        float: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 30px;

        //Hide if screen is smaller than this(medium + small size screens)
        @media(max-width: 751px){
            display:none;
        }
    
        .navbar_link{
            font-size: 16px;
            text-decoration: none;
            padding: 20px;
            color:rgb(50, 54, 72);
            
            &:hover{
                color: rgb(63, 70, 173);
            }
        
        }
        
        .workspace{
            width:146px;
            height:36px;

            background-color: #fff;
            color:rgb(50, 54, 72);
            
            border: 1px solid rgb(50, 54, 72);
            border-radius: 4px;
            
            padding-top: 6px;

            box-sizing: border-box;
            text-align: center;

            &:hover{
                color: rgb(63, 70, 173);
                border-color: rgb(63,70,173);
            }

            &:link{
                text-decoration: none;
            }

        }
    }

    .drawer{
        float: right;
        height: 100%;
        margin-right: 20px;

        //Vertical Centering
        display: flex;
        align-content: center;

        //Hide if large size screen
        @media(min-width: 751px){
            /*We choose not to use display:none because this will cause the entire drawer
            to collapse when the user resizes the window. This fix allows
            the drawer to stay open*/
            visibility: hidden;
            pointer-events: none
        }
    }
}











