@import './../../../global.scss';

$drawer-speed: 300ms;
$opacity-speed: 300ms;

//Toggle Button that will be attached to the navbar. 
.drawer_toggle{
    position: relative;
    background-color: transparent;
    border-style: none;
    
    >img{
        width: 30px;
        height: 30px;
    }

    &.isExpanded + .drawer_body{
        display: inline-block;
        left: 0;
        opacity: 1;
    }
}

//Drawer is initially hidden, but will open when toggled
.drawer_body{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 100vw;
    transition: left $drawer-speed, opacity $opacity-speed;
    height: 100vh;
    opacity: 0;
    background-color: $main-light;
    background-image: url(./bg.png);
    overflow: hidden;

    .upperPanel{
        height: 70px;
        width: 100vw;
        max-width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        
        .logo_space{
            float: left;
            margin-left: 20px;
            height: 100%;

            //Vertically center img
            display: flex;
            align-content: center;
            >img{
                height:60px;
                width: 60px;
            }
        }   

        .close_drawer{
            float: right;
            margin-right: 30px;
            background-color: transparent;
            border-style: none;
            height: 100%;

            //Vertically center img
            display: flex;
            align-content: center;

            >img{
                height: 30px;
                width: 30px;
            }
        }

        &::after{
            content : "";
            clear: both;
        }
    }

    .links{
        display: flex;
        flex-direction: column;

        >a{
            
            padding: 15px 30px 15px 30px;
            font-size: 1.5em;
            color: white;
        }
    }

    .drawer_footer{
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;

        >a{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-size: 1.2em;

            color: white;
            width: 100vw;
            height: 40px;

            @media(min-width: 750px){
                width: 90vw;
            }


        }

        //Style the second link (Download Now)
        :nth-child(2){
            color: $main-light;
            background-color: white;
        }
    }
}


