@import './../../../global.scss';

li{
    list-style-type: none;
}

.directory{
    display: inline-flex;
    justify-content: center;
    .column{
        width: max-content;
        padding: 30px;

        .column_title{
            color:rgb(50, 54, 72);    
        }

        li{
            padding: 5px;

            a{
                text-decoration: none;
                color: rgb(91, 94, 109);
                transition: color 250ms;

                &:visited{
                    color: rgb(91, 94, 109);
                }

                &:hover{
                    color: rgb(57, 69, 176);
                }
            }
        }
    }
}

