@import './../../../global.scss';

.directory{
    display: inline-grid;
    justify-content: center;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    //For medium and small sized screens
    @media(max-width: 750px){
        grid-template-columns: 1fr 1fr;
    }
}

.column{
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;

    .column_title{
        color:$text-dark;    
    }

    > li{
        padding: 5px;

        > a{
            color:$text-light;
            transition: color 250ms;

            &:visited{
                color: $text-light;
            }

            &:hover{
                color: $main-dark;
            }
        }
    }
}

