@import './../../global.scss';


.footer{
    width: 100vw;
    max-width: 100%;
    background-color: white;


    .content{
        width: 90%;
        padding: 20px;
        display:flex;

        @media(max-width:751px){
            display: block;
        }
     
        .logo{        
            width: 50%;
            margin: 25px;
            
            img{
                width:100px;
                height:100px;
            }
        }

    }
}

