@import './../../global.scss';

//This component contains an an inner flex box(notification_content) and a logo space. 
//The logo space is fixed size and the content centers on teh rest of the space

$notification-color: #1a1838;

.notification{
    background-color: $notification-color;
    width: 100vw;
    max-width:100%;
    min-height: 100px;
    display: flex;

    &.isClosed{
        display: none;
    }

    //The actual div that contains the items inside the notification
    .notification_content{
        flex: 1;
        align-self: center;

        padding: 20px;
        
        display: flex;
        justify-content: center;

        .logo{
            width: 30px;
            height: 30px;
            align-self: center;

            @media (max-width: 1140px){
                display: none;
            }
        }


        .text{
            display: inline-block;
            color: $background-light;
            align-self: center;
            margin: 10px;

            //Register Now link
            .register{
                display: inline-block;
                width: max-content;
                font-size: 12pt;
                align-self: center;
                border: none;
                background-color: $notification-color;
                color: $background-light;
                text-decoration: underline;
                transition: background-color 250ms;
                

                //If the screen is bigger than 1000px, use this styling
                @media (min-width: 1000px){
                    background-color: $main-light;
                    border-radius: 4px;
                    padding: 10px 20px 10px 20px;
                    text-decoration: none;

                    &:hover{
                        background-color: $main-dark;
                    }
                }
            }

        }

    }

    //The space allocated for the button and image
    .close_button_space{
        width: 20px;
        height: 20px;
        padding: 20px;
        align-self: center;

        .close_button{
            width: inherit;
            height: inherit;

            color: $main-light;
            background-color: transparent;
            border:none;

            img{
                width: inherit;
                height: inherit;
                transition: filter 250ms;
                filter: saturate(0%) brightness(100%);
            }

            &:hover img{
                filter: none;
            }

        }
    }

 



}

