@import '../../../global.scss';

.extensions{
    width: 100vw;
    max-width: 100%;
    height: 84px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 10px;

    .info{
        margin: 10px;
        > a{
            margin: 10px;
            color: rgb(50, 54, 72);
        }
    }
    .social_media{
        margin: 10px;
        > a{
            margin:10px;
        }
    }
    

    @media (min-width: 751px){
        .info{
            float: left;
        }
        .social_media{
            float: right;
        }

        &::after{
            content:"";
            clear:both;
        }
    }
}