@import '../../../global.scss';

.extensions{
    width: 100vw;
    max-width: 100%;
    height: 50px;
    max-height: 50x;

    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 10px;

    .info{
        margin: 10px;
        > a{
            display: inline-flex;
            align-items: center;
            margin: 10px;
            color: rgb(50, 54, 72);
        }
    }
   
    //Layout for large size screens
    @media (min-width: 751px){
        .info{
            float: left;
        }

        &::after{
            content:"";
            clear:both;
        }
    }
}